# Environment & Cache
venv/
__pycache__/
*.pyc
*.pyo
*.pyd

# Logs & Local Files
logs/
output.log
local_dev.py
notes/
note.txt

# Data & Models
dnabert/
analysis/attention/
analysis/*/*.bw
analysis/*/*.bed
analysis/*/*.bigBed

# Outputs & Results
# Ignore all outputs, then add exceptions
outputs/*
!outputs/npy/
!outputs/*.zip
!outputs/results/
outputs/results/*/
!outputs/results/2025-02-27/